:root {
    --clr-primary: rgba(1, 110, 68, 1);
    --clr-primary-0-4: rgba(1, 110, 68, 0.4);
    --clr-primary-0-1: rgba(1, 110, 68, 0.1);

    --clr-white: rgb(255, 255, 255);
    --clr-grey-251: rgb(251, 251, 251);
    --clr-grey-242: rgb(242, 242, 242);
    --clr-grey-245: rgb(245, 245, 245);
    --clr-grey-174: rgb(174, 174, 174);
    --clr-grey-156: rgb(156, 156, 156);
    --clr-grey-151: rgb(151, 151, 151);
    --clr-black: rgb(0, 0, 0);

    --clr-light-red: rgb(236, 7, 7);
    --clr-red: rgb(253, 40, 11);
    --clr-dark-red: rgb(186, 5, 5);

    --clr-light-green: rgb(11, 253, 20);
    --clr-sts-orange: rgb(253, 170, 11);
    --clr-dis-orange: rgb(252, 182, 58);
    --clr-cyan: rgb(68, 193, 237);
    --clr-purble: rgb(82, 24, 246);

    --mobile-max-width: 768px;
    --tablet-max-width: 1024px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --icon-size: 40px;
    --icon-img-size: 26px;

    font-family: 'Tajawal', sans-serif;
}

.bg-primary {
    background-color: var(--clr-primary);
}

.text-primary {
    color: var(--clr-primary);
}

.bg-primary-0-4 {
    background-color: var(--clr-primary-0-4);
}

.text-primary-0-4 {
    color: var(--clr-primary-0-4);
}

.bg-primary-0-1 {
    background-color: var(--clr-primary-0-1);
}

.text-primary-0-1 {
    color: var(--clr-primary-0-1);
}

.bg-white {
    background-color: var(--clr-white);
}

.text-white {
    color: var(--clr-white);
}

.bg-grey-251 {
    background-color: var(--clr-grey-251);
}

.text-grey-251 {
    color: var(--clr-grey-251);
}

.bg-grey-242 {
    background-color: var(--clr-grey-242);
}

.text-grey-242 {
    color: var(--clr-grey-242);
}

.bg-grey-245 {
    background-color: var(--clr-grey-245);
}

.text-grey-245 {
    color: var(--clr-grey-245);
}

.bg-grey-174 {
    background-color: var(--clr-grey-174);
}

.text-grey-174 {
    color: var(--clr-grey-174);
}

.bg-grey-156 {
    background-color: var(--clr-grey-156);
}

.text-grey-156 {
    color: var(--clr-grey-156);
}

.bg-grey-151 {
    background-color: var(--clr-grey-151);
}

.text-grey-151 {
    color: var(--clr-grey-151);
}

.bg-black {
    background-color: var(--clr-black);
}

.text-black {
    color: var(--clr-black);
}

.bg-light-red {
    background-color: var(--clr-light-red);
}

.text-light-red {
    color: var(--clr-light-red);
}

.bg-red {
    background-color: var(--clr-red);
}

.text-red {
    color: var(--clr-red);
}

.bg-dark-red {
    background-color: var(--clr-dark-red);
}

.text-dark-red {
    color: var(--clr-dark-red);
}

.bg-light-green {
    background-color: var(--clr-light-green);
}

.text-light-green {
    color: var(--clr-light-green);
}

.bg-sts-orange {
    background-color: var(--clr-sts-orange);
}

.text-sts-orange {
    color: var(--clr-sts-orange);
}

.bg-dis-orange {
    background-color: var(--clr-dis-orange);
}

.text-dis-orange {
    color: var(--clr-dis-orange);
}

.bg-cyan {
    background-color: var(--clr-cyan);
}

.text-cyan {
    color: var(--clr-cyan);
}

.bg-purble {
    background-color: var(--clr-purble);
}

.text-purble {
    color: var(--clr-purble);
}

.extra-bold {
    font-weight: 800;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.s-8 {
    font-size: 8px;
}

.s-10 {
    font-size: 10px;
}

.s-12 {
    font-size: 12px;
}

.s-14 {
    font-size: 14px;
}

.s-15 {
    font-size: 15px;
}

.s-16 {
    font-size: 16px;
}

.s-18 {
    font-size: 18px;
}

.s-22 {
    font-size: 22px;
}

.s-20 {
    font-size: 20px;
}

.s-26 {
    font-size: 26px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10% 15px 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;

    background-color: rgba(248, 249, 254, 1);
}

.header-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-white);
    z-index: 95;
}

.logo {
    height: 100%;
    max-height: 70px;
}

.logo img {
    height: 100%;
    max-height: 70px;
    width: auto;
}

.icons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-btn {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: rgba(1, 110, 68, 0.4) 0.5px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-profile-photo {
    width: calc(var(--icon-size) + 10px);
    height: calc(var(--icon-size) + 10px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-btn img {
    width: var(--icon-img-size);
    height: var(--icon-img-size);
}

.trns-btn {
    width: var(--icon-size);
    height: var(--icon-size);
}

.trns-btn img {
    width: 100%;
    height: 100%;
}

.header-profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 12px;
        padding: 15px 5%;
    }

    .icons {
        justify-content: space-around;
        width: 80%;
        gap: 15px;
    }
}

.nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 90;

    border-bottom: 1px solid rgba(228, 232, 238, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--clr-white);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10% 8px 5%;
}

.nav-links {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-link {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.active {
    font-weight: 800;
    color: var(--clr-primary);
}

.date-time {
    height: 70px;
    display: flex;
    align-items: center;
    width: 380px;
    justify-content: space-between;
    border: rgba(12, 193, 19, 0.23) 1px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 16px;
    gap: 4px;
}

.day-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.flex-center-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.cal-img {
    color: var(--clr-primary);
}

@media (max-width: 1144px) {
    .nav-bar {
        overflow-x: auto;
        overflow-y: hidden;        
        scrollbar-width: 0;
        gap: 48px;
        padding: 8px 5%;
    }

    .nav-bar > * {
        flex: 0 0 auto;
    }

    .nav-bar::-webkit-scrollbar {
        display: none;
    }
}

main {
    margin-top: 200px;
    padding: 24px 8%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 600px) {
    main {
        margin-top: 250px;
        padding: 24px 5%;
    }
}

.services-bar-container {
    position: relative;
    width: 100%;
}

.services-bar {
    position: relative;
    gap: 24px;
    padding: 0px 0px;
    z-index: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.services-bar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}

.services-bar-container {
    position: relative;
}

.service-card {
    position: relative;
    width: 183px;
    height: 100px;
    z-index: 0;
    flex: 0 0 183px;
    border-radius: 10px;
    background-color: var(--clr-primary);
    color: var(--clr-white)
}

footer {
    padding: 0px 120px 24px 120px;
}

.end-of-page {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(228, 232, 238, 0.5)
}

.service-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 50px;
}

.service-txt {
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.arrow {
    position: absolute;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 80;
    top: 30px;
    border-radius: 50%;
    border: rgba(1, 110, 68, 0.4) 1px solid;
    box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
}

.left-arrow {
    left: -30px;
}

.right-arrow {
    right: -30px;
}

.ltr {
    direction: ltr;
}
